.popup {
  position: fixed;
  z-index: 2500;
  background-color: $black;
  left: 0; right: 0;
  top: 0; bottom: 0;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  &-title {
    @extend .h3;
    color: $white;
  }
  &-description {
    @extend .h4;
    line-height: 1.33;
  }
}


.repair-popup {
  position: fixed;
  z-index: 1000;
  background-color: $white;
  left: 0; right: 0;
  top: 0; bottom: 0;
  color: $black;
  
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    padding-top: 140px;

    @media only screen and (max-width: $small-header-breakpoint) {
      padding-top: 120px;
    }
  }
  
  &--btn-back {
    .btn-back {
      position: absolute;
      margin-top: -25px;
      margin-left: 20px;
    }
  }

  &--tabs {
    flex-basis: 10%;
    max-width: 10%;
    display: flex;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;

    a {
      display: block;
      height: 40px;
      width: 40px;
      padding: 0;
      box-sizing: border-box;
      background-size: cover;
      font-size: 0;

      &.icon-iphone {
        background-image: url('/i/icon-repair-iphone.svg');
        &:hover {
          background-image: url('/i/icon-repair-iphone-blue.svg');
        }
      }
      &.icon-ipad {
        background-image: url('/i/icon-repair-ipad.svg');
        &:hover {
          background-image: url('/i/icon-repair-ipad-blue.svg');
        }
      }
      &.icon-notebook {
        background-image: url('/i/icon-repair-notebook.svg');
        &:hover {
          background-image: url('/i/icon-repair-notebook-blue.svg');
        }
      }
      &.icon-ipod {
        background-image: url('/i/icon-repair-ipod.svg');
        &:hover {
          background-image: url('/i/icon-repair-ipod-blue.svg');
        }
      }
      &.icon-watch {
        background-image: url('/i/icon-repair-watch.svg');
        &:hover {
          background-image: url('/i/icon-repair-watch-blue.svg');
        }
      }
      &:after {
        display: none;
      }
    }

    li {
      margin-left: 1vw;
      margin-bottom: 60px;
    }

    li+li {
      margin-left: 1vw;
    }
  }

  &--content {
    flex-basis: 90%;
    max-width: 90%;
  }

  .tabs-panel {
    text-align: left;
  }

  &--grid {
    display: grid;
    width: 100%;
    height: calc(100vh - 120px);
    grid-template-rows: 100px 1fr;
    grid-template-columns: 400px 1fr;
  }
  
  &--box-a {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center; 
  }

  &--box-b {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
  }

  &--box-c {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .box-b1 {
    width: 200px;
    margin-right: 20px;
  }

  .box-b2 {
    width: 200px;
    margin-right: 20px;
  }

  &--device-image {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-bottom: 30px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  
  &--device-title {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: $black;
    margin-bottom: 20px;
  }

  &--services-table {
    // background-color: rgba(255, 80, 110, 0.5);
    display: block;
    margin-right: 5vw;
  }

  &--service-item {
    // outline: 2px solid orange;
    font-size: 16px;
    line-height: 70px;
    max-height: 70px;
    
    @media only screen and (max-width: $small-header-breakpoint) {
      line-height: 54px;
      max-height: 54px;
    }

    &:nth-of-type(2n + 1) {
      background-color: #F2F2F2;
    }

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &-name {
      display: block;
      text-align: left;
      padding-left: 5vw;
      box-sizing: border-box;
    }

    &-price {
      display: block;
      text-align: right;
      box-sizing: border-box;
      padding-right: 5vw;
    }
  }

  &--table-description {
    font-weight: 300;
    font-size: 14px;
    color: $gray;
    line-height: 24px;
    max-height: 70px;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    text-align: left;
    padding-top: 50px;

    @media only screen and (max-width: $small-header-breakpoint) {
      padding-top: 50px;
      max-height: 54px;
    }
  }
}


body.is-popup-opened {
  overflow: hidden;
}