

// Colors

$white:     #ffffff;
$black:     #000000;
$gray:      #828282;
$pale-gray: #f1f1f1;
$light-gray:#E0E0E0;
$blue:      #4F5BFB;
$light-blue:rgb(97, 108, 255);
$warning:   #eb5757;

$link-color: $blue;
$hovered-link-color: $light-blue;

// Sizes

$header-height: 80px;
$header-sub-height: 60px;
$small-header-height: 60px;
$small-header-breakpoint: 1350px;
$middle-footer-breakpoint: 1599px;
$small-footer-breakpoint: 1420px;
$search-panel-breakpoint: 480px;
$homepage-min-height: 700px;
$homepage-breakpoint-auto-height: 700px;
