
// Colors

$white:     #ffffff;
$black:     #000000;
$gray:      #828282;
$pale-gray: #f1f1f1;
$light-gray:#E0E0E0;
$blue:      #4F5BFB;
$light-blue:rgb(97, 108, 255);
$warning:   #eb5757;

$link-color: $blue;
$hovered-link-color: $light-blue;
