@import "reset";
@import "vars";
@import "fonts";
@import "libs";

@import "common";
@import "overrides";
@import "ui/list-editor-flex";
@import "ui/list-editor-grid";

// @import "ui/buttons";
// @import "ui/forms";
// @import "ui/vitrine";
// @import "ui/tabs";
// @import "ui/menu";
// @import "ui/spinner";
// @import "ui/swiper";


html {
  background-color: rgba(130, 60, 255, 0.5);
  height: 100%;
}
body {
  background: rgb(238,174,202);
  background: linear-gradient(60deg, rgba(238,174,202,0.66) 0%, rgba(148,187,233,0.66) 100%);
  padding: 1em;
  height: 100%;
  box-sizing: border-box;
  transition: .66s;
  opacity: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5em;
  padding-bottom: 2.5em;
}
body.is-initialised {
  opacity: 1;
}
