
.ListEditor {

  // Неизменная часть
  // ----------------
  .list__grid {
    .item {
      // 45 колонок по 25px
      // 45 * 25 = 1125px
      display: grid;
      grid-auto-columns: 25px;
    }

    // Дорабатываем шаблоны
    // -------------
    &.template-1 {
      font-size: 15px;
      color: #333333;
      overflow: hidden;
      border-radius: 3px;
      margin-bottom: 25px;
      box-shadow: 0 0 2px 1px #9a9a9a,
                  0 2px 4px 0 rgba(0,0,0,.085),
                  0 3px 16px 0 rgba(0,0,0,.125);

      .item {
        grid-auto-rows: 65px; 
        background-color: white;
        border-bottom: 1px solid #dadada;

        // сокращенная форма записи
        // grid-column-start: 1;
        // grid-column-end: 3;
        .cell-a { grid-column: 1 / 3; }
        .cell-b { grid-column: 3 / 5; }
        .cell-c { grid-column: 5 / 19; }
        .cell-d { grid-column: 19 / 26; }
        .cell-e { grid-column: 26 / 31; }
        .cell-f { grid-column: 31 / 40; }
        .cell-y { grid-column: 40 / 44; }
        .cell-x { grid-column: 44 / 46; }


        .cell-a {
          padding-left: 1.3em;
        }
        .link {
          color: rgb(0, 184, 0);
          border-bottom: 1px dotted rgb(0, 184, 0);
          text-decoration: none;
        }
        .inactive {
          color: #bcbcbc;
        }
        &:nth-of-type(2n + 1) {
          background-color: #fafafa;
        }
      }
    }
    

    &.template-2 {

      .item {
        .cell-a { grid-column: 1 / 12; }
        .cell-b { grid-column: 12 / 23; }
        .cell-c { grid-column: 23 / 34; }
        .cell-d { grid-column: 34 / 37; }
        .cell-e { grid-column: 37 / 40; }
        .cell-y { grid-column: 40 / 44; }
        .cell-x { grid-column: 44 / 46; }
        .cell-f { grid-column: 1 / 8; }
        .cell-g { grid-column: 8 / 40; }
        .cell-h { grid-column: 40 / 46; }


        font-size: 15px;
        color: #333333;
        overflow: hidden;
        border-radius: 3px;
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 0 0 2px 1px #9a9a9a,
                    0 2px 4px 0 rgba(0,0,0,.065);

        .cell-a, .cell-b, .cell-c, .cell-d, .cell-e, .cell-y, .cell-x {
          height: 75px;
          border-bottom: 1px solid #dadada;
        }
        .cell-f, .cell-g, .cell-h {
          height: 75px;
        }
        .link {
          color: rgb(0, 184, 0);
          border-bottom: 1px dotted rgb(0, 184, 0);
          text-decoration: none;
        }
        strong {
          color: #000;
          font-weight: bold;
        }
        .cell-f {
          padding-left: 0.75em;
        }
      }
    }
  }
}
