
// The main idea of flex-grid and support cross-browser prefixes for IE10
// https://github.com/kristoferjoseph/flexboxgrid/blob/master/dist/flexboxgrid.css


.ListEditor {

  @mixin flex-cols ($col) {
    flex-basis: $col * 25px;
    max-width: $col * 25px;
  }
  @mixin flex-width ($w) {
    flex-basis: $w;
    max-width: $w;
  }

  // Неизменная часть
  // ----------------
  .list__flex {
    .item {
      display: flex;
      flex-wrap: wrap;
    }

    // Дорабатываем шаблоны
    // -------------
    &.template-1 {
      font-size: 15px;
      color: #333333;
      overflow: hidden;
      border-radius: 3px;
      margin-bottom: 25px;
      box-shadow: 0 0 2px 1px #9a9a9a,
                  0 2px 4px 0 rgba(0,0,0,.085),
                  0 3px 16px 0 rgba(0,0,0,.125);

      .item {
        // реализация через колонки
        .cell-a { @include flex-cols(2); }
        .cell-b { @include flex-cols(2); }
        .cell-c { @include flex-cols(14); }
        .cell-d { @include flex-cols (7); }
        .cell-e { @include flex-cols (5); }
        .cell-f { @include flex-cols (9); }
        .cell-y { @include flex-cols (4); }
        .cell-x { @include flex-cols (2); }

        // альтернативная реализация через пиксели (кратно 25px)
        // .cell-a { @include flex-width (50px); }
        // .cell-b { @include flex-width (50px); }
        // .cell-c { @include flex-width (350px); }
        // .cell-d { @include flex-width (175px); }
        // .cell-e { @include flex-width (125px); }
        // .cell-f { @include flex-width (225px); }
        // .cell-y { @include flex-width (100px); }
        // .cell-x { @include flex-width (50px); }
        
        height: 65px;
        background-color: white;
        border-bottom: 1px solid #dadada;

        .cell-a {
          padding-left: 1.3em;
        }
        .link {
          color: rgb(0, 184, 0);
          border-bottom: 1px dotted rgb(0, 184, 0);
          text-decoration: none;
        }
        .inactive {
          color: #bcbcbc;
        }
        &:nth-of-type(2n + 1) {
          background-color: #fafafa;
        }
      }
    }


    &.template-2 {

      .item {
        .cell-a { @include flex-cols(11); }
        .cell-b { @include flex-cols(11); }
        .cell-c { @include flex-cols(11); }
        .cell-d { @include flex-cols (3); }
        .cell-e { @include flex-cols (3); }
        .cell-y { @include flex-cols (4); }
        .cell-x { @include flex-cols (2); }
        .cell-f { @include flex-cols (7); }
        .cell-g { @include flex-cols (32); }
        .cell-h { @include flex-cols (6); }

        font-size: 15px;
        color: #333333;
        overflow: hidden;
        border-radius: 3px;
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 0 0 2px 1px #9a9a9a,
                    0 2px 4px 0 rgba(0,0,0,.065);

        .cell-a, .cell-b, .cell-c, .cell-d, .cell-e, .cell-y, .cell-x {
          height: 75px;
          border-bottom: 1px solid #dadada;
        }
        .cell-f, .cell-g, .cell-h {
          height: 75px;
        }
        .link {
          color: rgb(0, 184, 0);
          border-bottom: 1px dotted rgb(0, 184, 0);
          text-decoration: none;
        }
        strong {
          color: #000;
          font-weight: bold;
        }
        .cell-f {
          padding-left: 0.75em;
        }
      }
    }
  }
}