
.ListEditor {
  display: block;
  width: 1125px;

  .item {
    > div {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: .5em;
    }
  }

  .add {
    display: inline-block;
    color: limegreen;
    border-bottom: 1px dotted limegreen;
    text-decoration: none;
  }

  // Служебный класс для подсветки колонок
  // ----------
  ._highlighted {

    .cell-a {
      background-color: rgba(255, 80, 110, 0.5);
    }
    .cell-b {
      background-color: rgba(130, 60, 255, 0.5);
    }
    .cell-c {
      background-color: rgba(100, 255, 122, 0.5);
    }
    .cell-d {
      background-color: rgba(255, 255, 103, 0.5);
    }
    .cell-e {
      background-color: rgba(104, 255, 233, 0.5);
    }
    .cell-f {
      background-color: rgba(40, 174, 255, 0.5);
    }    
    .cell-g {
      background-color: rgba(255, 234, 40, 0.5);
    }    
    .cell-h {
      background-color: rgba(255, 40, 244, 0.33);
    }    
    .cell-y {
      background-color: rgba(0, 0, 0, 0.25);
    }
    .cell-x {
      background-color: rgba(255, 143, 65, 0.5);
    }
  }
}