
.two-rows-header .menu {
  @media only screen and (min-width: $small-header-breakpoint + 1px){
    padding-top: calc(80px + 60px) !important;
    background-color: rgba(255, 80, 110, 0.5) !important;
  }
}

.menu {
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  text-transform: uppercase;
  color: $blue;
  position: fixed;
  width: 28vw;
  min-width: 400px;
  z-index: 100;
  background-color: $black;
  transition: .75s;
  transition-property: right, opacity;
  right: -100vw;
  box-sizing: border-box;
  opacity: .62;
  top: 60px;
  height: calc(100% - 60px);

  @media only screen and (min-width: $small-header-breakpoint + 1px){
    top: 80px;
    height: calc(100% - 80px);
  }
  
  @media only screen and (max-width: 480px){
    width: 80vw;
    min-width: auto;
  }

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 1px solid rgba(255,255,255, .2);

    @media only screen and (max-width: 480px){
      padding-left: 20px;
      padding-right: 20px;
    }

    li {
      white-space: nowrap;

      &:last-of-type {
        margin-bottom: 2.5vh;
      }

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        text-decoration: none;
        transition: .15s;
        display: flex;
        align-items: center;
        font-weight: bold;
        color: $white;

        &:hover {
          color: $blue;
        }

      }
    }
  }

  &--contacts {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    padding-top: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 30px;

    @media only screen and (max-width: 480px){
      padding-left: 15px;
      padding-right: 10px;
    }
  }
  &--contacts-phone {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &--contacts-address {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 175%;

    @media only screen and (max-width: 480px){
      line-height: 135%;
    }

    address {
      font-style: normal;
    }
  }

  a {
    color: $gray;
    text-decoration: none;
  }
  .box-a {
    width: 50px;
    @media only screen and (max-width: 480px){
      width: 35px;
    }
  }

}

.menu-toggler {
  display: flex;
  justify-items: center;
  align-items: center;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
  margin-left: 15px;
  margin-right: -20px;
  cursor: pointer;

  @media only screen and (min-width: $small-header-breakpoint + 1px){
    display: none;
  }
  
  span:nth-of-type(1) {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    width: 22px;
    height: 2px;
    transition: .45s;
    transform: translateY(-6px) translateX(1px);
  }

  span:nth-of-type(2) {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    width: 22px;
    height: 2px;
    transition: .66s;
    transform: translateY(0) translateX(1px);
  }

  span:nth-of-type(3) {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    width: 22px;
    height: 2px;
    transition: .66s;
    transform: translateY(6px) translateX(1px);
  }

  &:hover {
    span {
      background-color: $blue !important;
    }
  }
}

.menu-overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition-duration: .4s;
  transition-property: opacity;
  background-color: rgba($black, 0.82);
  opacity: 0.5;
}

.is-menu-opened {
  overflow: hidden;

  .header {
    background-color: $black;
  }
  .menu {
    opacity: 1;
    right: 0;
  }
  .menu-toggler {
    span:nth-of-type(1) {
      transform: translateY(0) translateX(0px) rotate(45deg);
    }
    span:nth-of-type(2) {
      opacity: 0;
      width: 14px;
      transform: translateX(6px);
    }
    span:nth-of-type(3) {
      transform: translateY(0) translateX(0px) rotate(-45deg);
    }
  }

  .menu-overlay  {
    left: 0;
    opacity: 1;
  }

  main {
    transition: .66s;
    opacity: .95;
    filter: blur(2px);
  }
}


.top-back {
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width: 1024px) {
    margin-top: 55px;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 50px;
  }
  @media only screen and (max-width: 480px) {
    margin-top: 20px;
  }
}

.basket {
  .top-back {
    @media only screen and (min-width: 1350px) {
      display: none;
    }
  }
}
.blog {
  .top-back {
    @media only screen and (min-width: 1350px) {
      display: none;
    }
  }
}
.card {
  .top-back {
    @media only screen and (min-width: 1350px) {
      display: none;
    }
  }
}
.article {
  .top-back {
    position: absolute;
    margin-top: 0px;
    margin-left: 60px;

    @media only screen and (min-width: 1350px) {
      display: flex;
    }
    @media only screen and (max-width: 1100px) {
      margin-left: 20px;
      left: 0;
    }
    @media only screen and (max-width: 1024px) {
      top: 80px;
      left: 20px;
      margin-left: 0;

      .btn-back {
        border: none;
      }
    }
    @media only screen and (max-width: 768px) {

    }
    @media only screen and (max-width: 480px) {

    }
  }
}