.vitrine {
  .product {

    // background-color: rgba(255, 80, 110, 0.5);
    //
    // @media only screen and (max-width: 1024px) {
    //   background-color: rgba(255, 255, 103, 0.5);
    // }
    // @media only screen and (max-width: 768px) {
    //   background-color: rgba(255, 255, 103, 0.5);
    // }
    // @media only screen and (max-width: 480px) {
    //   background-color: rgba(100, 255, 122, 0.5);
    // }

    &--image {
      display: flex;
      height: 300px;
      text-align: center;

      @media only screen and (max-width: 1280px) {
        height: 250px;
        align-items: center;
      }
      @media only screen and (max-width: 768px) {
        height: 255px;
      }
      @media only screen and (max-width: 480px) {
        height: 175px;
        margin-left: 60px;
        margin-right: 60px;
      }

      img {
        display: inline-block;
        border-top: 10px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;
        transition: .75s;

        @media only screen and (max-width: 1280px) {
          height: 200px;
        }
        @media only screen and (max-width: 768px) {
          height: 175px;
        }
        @media only screen and (max-width: 480px) {
          height: 150px;
        }
      }

      &:hover {
        img {
          border-top: 0px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
    }

    &--name {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      height: 125px;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;
      color: $black;
      transition: .3s;

      &:hover {
        color: #333333;
      }

      @media only screen and (max-width: 1280px) {
        font-size: 16px;
        line-height: 20px; 
        height: 115px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 15px;
        line-height: 20px;
        height: 105px;
      }
      @media only screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 22px;
        height: auto;
        margin-bottom: 15px;
      }
    }

    &--colors {
      @extend .color-filter;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 245px;
      margin: 0 auto 30px auto;
      height: 50px;
  
      @media only screen and (max-width: 768px) {
        margin-bottom: 25px;
      }
      @media only screen and (max-width: 480px) {
        height: auto;
        margin-bottom: 20px;
      }
    }

    &--buy {
      @extend .btn;
      display: block;
      color: $white;
      background-color: $black;
      font-size: 22px;
      margin: 0 auto 25px auto;

      @media only screen and (max-width: 1280px) {
        width: 220px;
        height: 56px;
        line-height: 54px; 
        font-size: 18px;
        margin: 0 auto 20px auto;
      }
      @media only screen and (max-width: 768px) {
        width: 200px;
        height: 48px;
        line-height: 46px; 
        font-size: 16px;
      }
      @media only screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 16px;
        width: 140px;
        height: 44px;
        line-height: 42px;
      }
    
      &:hover {
        color: $white;
        background-color: $blue;
      }

      &:after {
        position: absolute;
        display: inline-block;
        content: '';
        width: 30px;
        height: 30px;
        right: 20px;
        top: 13px;
        background: url('/i/icon-basket-white.svg') no-repeat 50% / cover;

        @media only screen and (max-width: 1024px) {
          width: 25px;
          height: 25px;
          top: 13px;
        }
        @media only screen and (max-width: 768px) {
          top: 10px;
        }
        @media only screen and (max-width: 480px) {
          width: 20px;
          height: 20px;
          right: 19px;
          top: 11px;
        }
      }
    }

    &--available {
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 30px;
      margin-bottom: 30px;

      @media only screen and (max-width: 1024px) {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 20px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
      }
      @media only screen and (max-width: 480px) {
        padding-bottom: 30px;
        margin-bottom: 0;
      }
    }
  }

  .swiper-slide {
    width: 300px;
  }
  .swiper-scrollbar {
    background: $light-gray;
    height: 2px !important;
  }
  .swiper-scrollbar-drag {
    background: rgba(0,0,0,1);
    height: 6px;
    border-radius: 0;
    margin-top: -2px;
  }

  @extend .swiper-solid-arrows;

  &.swiper-container_centered {
    @media only screen and (min-width: 1025px) {
      .swiper-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
